<!DOCTYPE html>
<html>
  <head>
    <title>Quicktask</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">
      <h1>Quicktask</h1>
    </a>

    <div id="startDiv">
      <p>Create easy todo lists!</p>
      <button id="createListButton">Create</button>
      <button id="loadListButton">Open</button>
      </div>

    <div id="listViewDiv" hidden>
      <h2 id="listNameHeader"></h1>
      <h2 id="usernameHeader"></h1>
      <p id="idHeader">Tasklist ID: </p>
      <div id="tasks">
      </div>

      <div>
        <input type="text" id="newItem" name="newItem">
        <button id="addItemButton">Add Task</button>
      </div>

      <button id="saveListButton">Save</button>
      <button id="deleteListButton">Delete</button>"

    </div>

    <div id="createListDiv" hidden>
      <label for="listName">List Name: </label>
      <input type="text" id="listName" name="listName"> <br>
      <label for="username">Username: </label>
      <input type="text" id="username" name="username"> <br>
      <button id="startListButton">Start</button>
    </div>

    <div id="loadListDiv" hidden>
      <label for="listID">Enter ID:</label>
      <input type="text" id="listID" name="listID">
      <button id="findListButton">Load</button>
    </div>

    <script type="text/javascript" src="javascripts/index.js"></script>
  </body>
</html>
